
<IfModule mod_rewrite.c>
RewriteEngine on

RewriteRule ^/?$ proj/demo/AppProgram.php [QSA,L]
RewriteRule ^/?(\w+)$ proj/$1/AppProgram.php?AISLE_PROJECT=$1 [QSA,L]
RewriteRule ^/?(\w+)/(\w+)$ proj/$1/AppProgram.php?AISLE_PROJECT=$1&AISLE_ACTION=$2 [QSA,L]
RewriteRule ^/?(\w+)/(\w+)/(\w+)$ proj/$1/AppProgram.php?AISLE_PROJECT=$1&AISLE_CONTROLLER=$2&AISLE_ACTION=$3 [QSA,L]
RewriteRule ^/?(\w+)/(\w+)/(\w+)/(\w+)$ proj/$1/AppProgram.php?AISLE_PROJECT=$1&AISLE_MODULE=$2&AISLE_CONTROLLER=$3&AISLE_ACTION=$4 [QSA,L]

</IfModule>
